*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: hsl(0, 0%, 97%);

  --primary-color: hsl(300, 60%, 25%);
  --btn-color: hsl(300, 60%, 25%);

  --accent-color: hsl(300, 35%, 25%);

  --link-color: hsl(217, 60%, 45%);
  --border-color: hsla(300, 0%, 80%, 0.5);

  /* --purple: hsl(300, 100%, 25%); */

  --radius: 0px;
}

html {
  /* width: 100%; */
  background-color: var(--main-bg-color);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
}

#main-content-area {
  width: 100vw;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

#main-content-area h2 {
  margin-left: 10px;
}

@media (max-width: 600px) {
  #main-content-area {
    width: 100%;
    margin-left: 0px;
    padding-left: 2rem;
    padding-right: 2rem;
    /* padding-top: 90px; */
  }
  #main-content-area h1 {
    margin-left: 2rem;
  }
}

a,
button {
  text-decoration: none;
  color: var(--link-color);
  transition: all 0.3s ease-in-out;
}

a:hover,
button:hover {
  color: var(--primary-color);
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

a:focus,
button:focus {
  outline-color: var(--button-color);
}

.datum {
  font-weight: 700;
  opacity: 0.8;
  color: var(--primary-color);
}

blockquote {
  background: #f1f1f1;
  border-left: 10px solid #ccc;
  margin: 2.5em 40px;
  padding: 0.5em 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}

@media (max-width: 600px) {
  blockquote {
    margin-left: 2rem;
    margin-right: 0;
  }
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

@keyframes appear {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}

/* page transition */
.page-enter-active,
.page-leave-active {
  transition: all 0.5s ease;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(50%);
}

/* nav transition */
.nav-enter-active,
.nav-leave-active {
  transition: all 0.5s ease-in-out;
}

.nav-enter,
.nav-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

/* dynamic component transition */
.component-enter-active,
.component-leave-active {
  transition: all 0.5s ease-in-out;
}
.component-enter,
.component-leave-to {
  opacity: 0;
  /* transform: translateX(50%); */
}
