*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f7f7f7;
  /* --primary-color: #77b6eb; */
  --primary-color: #de9f5f;
  --accent-color: #222;
  --btn-color: #de9f5f;
  --link-color: #5f90de;
  --border-color: rgba(204, 204, 204, 0.5);
}

html {
  width: 100%;
  /* height: 100%;
  position: fixed;
  overflow: hidden; */
  background-color: var(--main-bg-color);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100vh;
}

.main-layout {
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding-top: 5rem; */
  /* width: 95%; */
  /* margin: 0 auto; */
}

#main-content-area {
  width: calc(100vw - 90px);
  margin-left: 90px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

#main-content-area h2 {
  margin-left: 10px;
}

@media (max-width: 600px) {
  #main-content-area {
    width: 100%;
    margin-left: 0px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 90px;
  }
  #main-content-area h1 {
    margin-left: 2rem;
  }
}

a,
button {
  text-decoration: none;
  color: var(--link-color);
  transition: all 0.25s ease-in-out;
}

a:hover,
button:hover {
  /* text-decoration: underline; */
  /* text-decoration-style: double; */
  /* font-weight: bolder; */
  color: var(--primary-color);
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

a:focus,
button:focus {
  outline-color: var(--button-color);
}

a.span-active {
  font-weight: 800;
}

.datum {
  font-weight: 700;
  /* font-size: 115%; */
  color: var(--primary-color);
  /* text-decoration: underline; */
}

blockquote {
  background: #f1f1f1;
  border-left: 10px solid #ccc;
  margin: 2.5em 40px;
  padding: 0.5em 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}

@media (max-width: 600px) {
  blockquote {
    margin-left: 2rem;
    margin-right: 0;
  }
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* page transition */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
