*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f6f6f666;
  --primary-color: #77b6eb;
  --accent-color: #222;
  --btn-color: #77b6eb;
  --link-color: #77b6eb;
  --border-color: rgba(204, 204, 204, 0.5);
}

html {
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100vh;
}

.main-layout {
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding-top: 5rem; */
  /* width: 95%; */
  /* margin: 0 auto; */
}

#main-content-area {
  width: calc(100vw - 90px);
  margin-left: 90px;
  padding-left: 3rem;
  padding-right: 3rem;
}

#main-content-area h2 {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  font-weight: bolder;
  opacity: 1;
}

a:focus,
button:focus {
  outline-color: var(--link-color);
}

a.span-active {
  /* color: #77b6eb; */
  font-weight: 800;
}

/* layout transition */
/* .layout-leave,
.layout-leave-active {
  transition: opacity 0.5s;
  opacity: 0;
  transform: translateY(-100%);
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
} */

/* page transition */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
