/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}

:root {
  --body-text-color: hsl(0, 0%, 20%);
  --headline-text-color: hsl(0, 0%, 15%);
}

body {
  /* currently ems cause chrome bug misinterpreting rems on body element */
  font-size: 1.7em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Libre Franklin', sans-serif;
  color: var(--body-text-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2.2rem;
  font-weight: 300;
  /* font-family: 'Libre Franklin', sans-serif; */
  color: var(--body-text-color);
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: -0.125rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 1.28;
  letter-spacing: -0.1rem;
}

h5 {
  font-size: 1.75rem;
  line-height: 1.3;
  letter-spacing: -0.08rem;
  font-weight: 400;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */

@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  p {
    margin-top: 0;
  }
  /* body {
    font-size: 2rem;
    line-height: 1.6;
  } */
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-text-color: #fff;
    --headline-text-color: #fff;
  }
}
